.header {
  grid-area: header;
}

.header img {
  width: 30px;
}

.header h1 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 700;

  display: inline;
  margin-left: 20px;
}

.header hr {
  margin-top: 15px;
  color: var(--orange);
}